
<div id="content-wrapper-parent">
    <div id="content-wrapper">  
      <div class="home-slider-wrapper clearfix">
       <%= image_tag "slide-image-312fa.jpg" %> 
      </div>
  
        
      <!-- Content -->
      <div id="content" class="clearfix">               
        <section class="content">
          <div id="col-main" class="clearfix">  
            <div class="home-popular-collections">
              <div class="container">
                <div class="group_home_collections row">
                  <div class="col-md-24">
                    <div class="home_collections">
                      <h6 class="general-title">Popular Collections</h6>
                        <div class="home_collections_wrapper">
                          <div id="home_collections" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2384px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 298px;"><div class="home_collections_item">
                              <div class="home_collections_item_inner">
                                <div class="collection-details">
                                  <a href="collections/bracelets.html" title="Browse our Bracelets">
                                    <%= image_tag "3_largef441.png" %>
                                  </a>
                                </div>
                                <div class="hover-overlay">
                                  <span class="col-name"><a href="collections/bracelets.html">Bracelets</a></span>
                                <div class="collection-action">
                                  <a href="collections/bracelets.html">See the Collection</a>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 298px;"><div class="home_collections_item">
                            <div class="home_collections_item_inner">
                              <div class="collection-details">
                                <a href="collections/earrings.html" title="Browse our Earrings">
                                  <%= image_tag "2_largea971.png" %>
                                </a>
                              </div>
                              <div class="hover-overlay">
                                <span class="col-name"><a href="collections/earrings.html">Earrings</a></span>
                                <div class="collection-action">
                                  <a href="collections/earrings.html">See the Collection</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="owl-item" style="width: 298px;"><div class="home_collections_item">
                <div class="home_collections_item_inner">
                <div class="collection-details">
                  
                  <a href="collections/necklaces.html" title="Browse our Necklaces">
                    <%= image_tag "1_79ec3305-7c83-4daa-804c-fac19b2d1b7b_large04b2.png" %>
                    
                    
                  </a>
                </div>
                <div class="hover-overlay">
                  <span class="col-name"><a href="collections/necklaces.html">Necklaces</a></span>
                  <div class="collection-action">
                    <a href="collections/necklaces.html">See the Collection</a>
                  </div>
                </div>
                </div>
                          </div></div><div class="owl-item" style="width: 298px;"><div class="home_collections_item">
                <div class="home_collections_item_inner">
                <div class="collection-details">
                  
                  <a href="collections/rings.html" title="Browse our Rings">
                    <%= image_tag "4_large6125.png" %>
                    
                    
                  </a>                  
                </div>
                <div class="hover-overlay">
                  <span class="col-name"><a href="collections/rings.html">Rings</a></span>
                  <div class="collection-action">
                    <a href="collections/rings.html">See the Collection</a>
                  </div>
                </div>
                </div>
                          </div></div></div></div>
                          
                          
                          
                        <div class="owl-controls clickable" style="display: none;"><div class="owl-buttons"><div class="owl-prev"><span class="btooltip" title="" data-original-title="Previous"></span></div><div class="owl-next"><span class="btooltip" title="" data-original-title="Next"></span></div></div></div></div>
                    </div>
                  </div>
		              
                  <script>
                    $(document).ready(function() {
                      $('.collection-details').hover(
                        function() {
                        $(this).parent().addClass("collection-hovered");
                        },
                        function() {
                        $(this).parent().removeClass("collection-hovered");
                      });
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
  

  
  
  <div class="home-newproduct">
    <div class="container">
      <div class="group_home_products row">
        <div class="col-md-24">
          <div class="home_products">
            <h6 class="general-title">New Products</h6>
            <div class="home_products_wrapper">
              <div id="home_products">
                <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="0">
                    <ul class="row-container list-unstyled clearfix">
                      <li class="row-left">
                        <a href="products/curabitur-cursus-dignis.html" class="container_item">
                          <%= image_tag "1_grande2245.jpg" %>
                          
                          <span class="sale_banner">
                            <span class="sale_text">Sale</span>
                          </span>
                        </a>
                        <div class="hbw">
                          <span class="hoverBorderWrapper"></span>
                        </div>
                      </li>

                      <li class="row-right parent-fly animMix">
                        <div class="product-content-left">
                          <a class="title-5" href="products/curabitur-cursus-dignis.html">Curabitur cursus dignis</a>
                          <span class="shopify-product-reviews-badge" data-id="1293238211"></span>
                        </div>
                        <div class="product-content-right">
                          <div class="product-price">
                            <span class="price_sale"><span class="money">$259.00</span></span>
                            <del class="price_compare"> <span class="money">$300.00</span></del>
                          </div>
                        </div>
                      </li>
                    </ul> 
                </div>
                
                
                  <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="2">
                    <ul class="row-container list-unstyled clearfix">
                      <li class="row-left">
                        <a href="/" class="container_item">
                         <%= image_tag "6_03a522d6-f36a-4f59-a815-bbade4d87a6e_grandec150.jpg" %>
                          <span class="sale_banner">
                            <span class="sale_text">Sale</span>
                          </span>
                        </a>
                        <div class="hbw">
                          <span class="hoverBorderWrapper"></span>
                        </div>
                      </li>
                      <li class="row-right parent-fly animMix">
                        <div class="product-content-left">
                          <a class="title-5" href="products/donec-aliquam-ante-non.html">Donec aliquam ante non</a>
                          <span class="shopify-product-reviews-badge" data-id="1293236931"></span>
                        </div>
                        <div class="product-content-right">
                          <div class="product-price">
                            <span class="price_sale"><span class="money">$250.00</span></span>
                            <del class="price_compare"> <span class="money">$300.00</span></del>   
                          </div>
                        </div>
                        <div class="list-mode-description">
                          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed...
                        </div>
                        <div class="hover-appear">
                      <form action="/" method="post">
                        <div class="hide clearfix"> 
                          <select name="id">
                            <option selected="selected" value="5141875779">Default Title</option>
                          </select>
                        </div>
                        <div class="effect-ajax-cart">
                          <input type="hidden" name="quantity" value="1">
                          <button class="add-to-cart" type="submit" name="add"><i class="fa fa-shopping-cart"></i><span class="list-mode">Add to Cart</span></button>
                        </div>        
                      </form>
                      <div class="product-ajax-qs hidden-xs hidden-sm">
                        <div data-handle="curabitur-cursus-dignis-1" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                          <i class="fa fa-eye" title="Quick view"></i><span class="list-mode">Quick View</span>
                        </div>
                      </div>
                      <a class="wish-list" href="/" title="wish list"><i class="fa fa-heart"></i><span class="list-mode">Add to Wishlist</span></a>
                      </div>
                      </li>
                    </ul> 
                  </div>

                  <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="5">
                  <ul class="row-container list-unstyled clearfix">
                    <li class="row-left">
                      <a href="/" class="container_item">
                        <%= image_tag "2_119a31f2-2054-4483-93a3-841310e6bdfb_1024x10242b1c.jpg" %>
                        <span class="sale_banner">
                          <span class="sale_text">Sale</span>
                        </span>
                      </a>
                      <div class="hbw">
                        <span class="hoverBorderWrapper"></span>
                      </div>
                    </li>

                    <li class="row-right parent-fly animMix">
                      <div class="product-content-left">
                        <a class="title-5" href="/">Product full width</a>
                        <span class="shopify-product-reviews-badge" data-id="1293240771"></span>
                      </div>
                      <div class="product-content-right">
                        <div class="product-price">
                          <span class="price_sale"><span class="money">$200.00</span></span>
                          <del class="price_compare"> <span class="money">$300.00</span></del>
                        </div>
                      </div>
                      <div class="list-mode-description">
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed...
                      </div>
                      <div class="hover-appear">
                        <form action="/" method="post">
                          <div class="effect-ajax-cart">
                            <input type="hidden" name="quantity" value="1">
                            <button class="select-option" type="button" onclick="/';"><i class="fa fa-th-list" title="Select Options"></i><span class="list-mode">Select Option</span></button>
                          </div>        
                        </form>
                        <div class="product-ajax-qs hidden-xs hidden-sm">
                          <div data-handle="product-full-width" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                            <i class="fa fa-eye" title="Quick view"></i><span class="list-mode">Quick View</span>
                          </div>
                        </div>
                        <a class="wish-list" href="/" title="wish list"><i class="fa fa-heart"></i><span class="list-mode">Add to Wishlist</span></a>
                      </div>
                    </li>
                  </ul> 
                </div>
                
                <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="3">
                  <ul class="row-container list-unstyled clearfix">
                    <li class="row-left">
                      <a href="/" class="container_item">
                        <%= image_tag "4_0fe2529b-f7ae-4ed5-a8ff-4fae623757f9_grande02fe.jpg" %>
                      </a>
                      <div class="hbw">
                        <span class="hoverBorderWrapper"></span>
                      </div>
                    </li>
                    <li class="row-right parent-fly animMix">
                      <div class="product-content-left">
                        <a class="title-5" href="products/donec-condime-fermentum.html">Donec condime fermentum</a>
                        <span class="shopify-product-reviews-badge" data-id="1293235843"></span>
                      </div>
                      <div class="product-content-right">
                        <div class="product-price">
                          <span class="price">
                            <span class="money">$200.00</span>
                          </span>
                        </div>
                      </div>
                      <div class="list-mode-description">
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed...
                      </div>
                      <div class="hover-appear">
                        <form action="/" method="post">
                          <div class="effect-ajax-cart">
                            <input type="hidden" name="quantity" value="1">
                            <button class="select-option" type="button" onclick="window.location='products/donec-condime-fermentum.html';"><i class="fa fa-th-list" title="Select Options"></i><span class="list-mode">Select Option</span></button>
                          </div>        
                        </form>
                        <div class="product-ajax-qs hidden-xs hidden-sm">
                          <div data-handle="donec-condime-fermentum" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                            <i class="fa fa-eye" title="Quick view"></i><span class="list-mode">Quick View</span>
                          </div>
                        </div>
                        <a class="wish-list" href="/" title="wish list"><i class="fa fa-heart"></i><span class="list-mode">Add to Wishlist</span></a>
                      </div>
                    </li>
                  </ul> 
                </div>
                
                <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="4">
                    <ul class="row-container list-unstyled clearfix">
                      <li class="row-left">
                        <a href="/" class="container_item">
                          <%= image_tag "10_16854be2-a731-4970-984e-7f6e483d2405_grandedd3a.jpg" %>
                          <span class="sale_banner">
                              <span class="sale_text">Sale</span>
                          </span>
                        </a>
                        <div class="hbw">
                          <span class="hoverBorderWrapper"></span>
                        </div>
                      </li>
                      <li class="row-right parent-fly animMix">
                        <div class="product-content-left">
                          <a class="title-5" href="products/maximus-quam-posuere-1.html">Maximus quam posuere</a>
                          <span class="shopify-product-reviews-badge" data-id="1293227907"></span>
                        </div>
                        <div class="product-content-right">
                          <div class="product-price">
                            <span class="price_sale"><span class="money">$200.00</span></span>
                            <del class="price_compare"> <span class="money">$300.00</span></del>
                          </div>
                        </div>
                        <div class="list-mode-description">
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed...
                        </div>
                        <div class="hover-appear">
                          <form action="/" method="post">
                            <div class="effect-ajax-cart">
                              <input type="hidden" name="quantity" value="1">
                              <button class="select-option" type="button" onclick="/';"><i class="fa fa-th-list" title="Select Options"></i><span class="list-mode">Select Option</span></button>
                            </div>        
                          </form>
                          <div class="product-ajax-qs hidden-xs hidden-sm">
                            <div data-handle="maximus-quam-posuere-1" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                              <i class="fa fa-eye" title="Quick view"></i><span class="list-mode">Quick View</span>
                            </div>
                          </div>
                          <a class="wish-list" href="/" title="wish list"><i class="fa fa-heart"></i><span class="list-mode">Add to Wishlist</span></a>
                        </div>
                      </li>
                    </ul> 
                </div>
                
                <div class="element no_full_width col-md-8 col-sm-8 fadeInUp animated" data-animate="fadeInUp" data-delay="5">
                  <ul class="row-container list-unstyled clearfix">
                    <li class="row-left">
                      <a href="/" class="container_item">
                        <%= image_tag "11_68ab6d0f-109c-429b-a903-4cbf60257806_grande6ce0.jpg" %>
                        <span class="sale_banner">
                          <span class="sale_text">Sale</span>
                        </span>
                      </a>
                      <div class="hbw">
                        <span class="hoverBorderWrapper"></span>
                      </div>
                    </li>

                    <li class="row-right parent-fly animMix">
                      <div class="product-content-left">
                        <a class="title-5" href="/">Product full width</a>
                        <span class="shopify-product-reviews-badge" data-id="1293240771"></span>
                      </div>
                      <div class="product-content-right">
                        <div class="product-price">
                          <span class="price_sale"><span class="money">$200.00</span></span>
                          <del class="price_compare"> <span class="money">$300.00</span></del>
                        </div>
                      </div>
                      <div class="list-mode-description">
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed...
                      </div>
                      <div class="hover-appear">
                        <form action="/" method="post">
                          <div class="effect-ajax-cart">
                            <input type="hidden" name="quantity" value="1">
                            <button class="select-option" type="button" onclick="/';"><i class="fa fa-th-list" title="Select Options"></i><span class="list-mode">Select Option</span></button>
                          </div>        
                        </form>
                        <div class="product-ajax-qs hidden-xs hidden-sm">
                          <div data-handle="product-full-width" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                            <i class="fa fa-eye" title="Quick view"></i><span class="list-mode">Quick View</span>
                          </div>
                        </div>
                        <a class="wish-list" href="/" title="wish list"><i class="fa fa-heart"></i><span class="list-mode">Add to Wishlist</span></a>
                      </div>
                    </li>
                  </ul> 
                </div>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <div class="home-banner-wrapper">
    <div class="container">
      <div id="home-banner" class="text-center clearfix">
        <%= image_tag "home_banner_image_text12fa.png" %>
        <div class="home-banner-caption">
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="home-banner-action">
          <a href="collections.html">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  slide-image-312fa.jpg
  

</div>
              
              

        </section>        
      </div>
    </div>
  </div>
